style.
  .container button {
    padding: 4px 4px;
    color: #28aadc;
    background-color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid #28aadc;
    margin: 4px;
    transition: color .3s,border .3s;
  }

  .container button:hover {
    color: #166888;
    border: 1px solid #166888;
  }

button#markNonLib Mark Non-Lib
button#markTopLevelNonLib Mark Non-Lib Top Level
button#drawTomAsync Draw Tom Async
button#drawJoshAsync Draw Josh Async
button#pruneGraph Prune Lib Code
button#resetGraph Reset Graph
button#markClick Mark Click Handler
button#markAjax Mark AJAX Request

div#invokeGraph