.left-column.sec
  .invoke-inputs-view.colview(style="display:none;") inputs
  .invoke-binding-view.colview(style="display:none;") binding
  .invoke-declaration-view.colview(style="display:none;") declaration

.left-button-column.sec
  .buttonPane.invoke-inputs
    span Inputs
  .buttonPane.invoke-binding
    span Binding
  .buttonPane.invoke-declaration
    span Declaration

.center-column.sec
  h4="{{description}}"

  .main-javascript
    textarea.cardMirror="{{code}}"

.right-button-column.sec
  .buttonPane.invoke-outputs
    span Output
  .buttonPane.invoke-delegates
    span Calls

.right-column.sec
  .invoke-outputs-view.colview(style="display:none;") outputs
  .invoke-delegates-view.colview(style="display:none;") delegates

