
<div class="card-container">
  <div class="left-column"></div>
  <div class="left-button-column">
    <div class="buttonPane invoke-inputs">Inputs</div>
    <div class="buttonPane invoke-binding">Binding</div>
    <div class="buttonPane invoke-declaration">Declaration</div>
  </div>
  <div class="center-column">
    <div class="main-javascript">
      <h4>{{description}}</h4>
      <textarea class="cardMirror">{{code}}</textarea>
    </div>
  </div>
  <div class="right-column"></div>
  <div class="right-button-column">
    <div class="buttonPane invoke-outputs">Output</div>
    <div class="buttonPane invoke-delegates">Calls</div>
  </div>
</div>