.left-column.sec
  .invoke-inputs-view.colview(style="display:none;")
  .invoke-binding-view.colview(style="display:none;")
  .invoke-declaration-view.colview(style="display:none;")

.left-button-column.sec
  .buttonPane.invoke-inputs(style="display:none;")
    span Input
  .buttonPane.invoke-binding(style="display:none;")
    span Binding
  .buttonPane.invoke-declaration(style="display:none;")
    span Async Parent

.center-column.sec
  h4="{{description}}"

  .main-javascript
  .empty-javascript(style="display:none;")
    p Browser Load/Call

.right-button-column.sec
  .buttonPane.invoke-outputs(style="display:none;")
    span Output
  .buttonPane.invoke-delegates(style="display:none;")
    span Calls

.right-column.sec
  .invoke-outputs-view.colview(style="display:none;")
  .invoke-delegates-view.colview(style="display:none;")

