.left-column.sec
.left-button-column.sec
  .buttonPane.invoke-inputs
    span Inputs
  .buttonPane.invoke-binding
    span Binding
  .buttonPane.invoke-declaration
    span Declaration

.center-column.sec
  h4="{{description}}"

  .main-javascript
    textarea.cardMirror="{{code}}"

.right-button-column.sec
  .buttonPane.invoke-outputs
    span Output
  .buttonPane.invoke-delegates
    span Calls

.right-column.sec

