
<div class="left-column sec"></div>
<div class="left-button-column sec">
  <div class="buttonPane invoke-inputs"><span>Inputs</span></div>
  <div class="buttonPane invoke-binding"><span>Binding</span></div>
  <div class="buttonPane invoke-declaration"><span>Declaration</span></div>
</div>
<div class="center-column sec">
  <h4>{{description}}</h4>
  <div class="main-javascript">
    <textarea class="cardMirror">{{code}}</textarea>
  </div>
</div>
<div class="right-button-column sec">
  <div class="buttonPane invoke-outputs"><span>Output</span></div>
  <div class="buttonPane invoke-delegates"><span>Calls</span></div>
</div>
<div class="right-column sec"></div>