.card-container
  .left-column
  .left-button-column
    .buttonPane.invoke-inputs Inputs
    .buttonPane.invoke-binding Binding
    .buttonPane.invoke-declaration Declaration

  .center-column
    .main-javascript
      h4="{{description}}"
      textarea.cardMirror="{{code}}"

  .right-column
  .right-button-column
    .buttonPane.invoke-outputs Output
    .buttonPane.invoke-delegates Calls



