
<div class="left-column sec">
  <div style="display:none;" class="invoke-inputs-view colview">inputs</div>
  <div style="display:none;" class="invoke-binding-view colview">binding</div>
  <div style="display:none;" class="invoke-declaration-view colview">declaration</div>
</div>
<div class="left-button-column sec">
  <div class="buttonPane invoke-inputs"><span>Inputs</span></div>
  <div class="buttonPane invoke-binding"><span>Binding</span></div>
  <div class="buttonPane invoke-declaration"><span>Declaration</span></div>
</div>
<div class="center-column sec">
  <h4>{{description}}</h4>
  <div class="main-javascript">
    <textarea class="cardMirror">{{code}}</textarea>
  </div>
</div>
<div class="right-button-column sec">
  <div class="buttonPane invoke-outputs"><span>Output</span></div>
  <div class="buttonPane invoke-delegates"><span>Calls</span></div>
</div>
<div class="right-column sec">
  <div style="display:none;" class="invoke-outputs-view colview">outputs</div>
  <div style="display:none;" class="invoke-delegates-view colview">delegates</div>
</div>