style="{{css}}"

#deckView
#graphView
  #graphControl
    ul
      li
        button#drawWithLib Show Libs
      li
        button#markTopLevelNonLib Mark Non-Lib Top Level
      li
        button#drawTomAsync Draw Tom Async
      li
        button#drawJoshAsync Draw Josh Async
      li
        button#markAllBlue Mark All Blue
      li
        button#markClick Mark Click Handler
      li
        button#markAjaxRequest Mark AJAX Request
      li
        button#markAjaxResponse Mark AJAX Response
      li
        button#drawWithRepeats Draw With Repeats
      li
        button#resetGraph Reset Graph

  #invokeGraph