style="{{css}}"

#deckView
#graphView
  #graphControl
    ul
      li
        #drawWithLib Show Libs
      li
        #markTopLevelNonLib Mark Non-Lib Top Level
      li
        #drawTomAsync Draw Tom Async
      li
        #drawJoshAsync Draw Josh Async
      li
        #markAllBlue Mark All Blue
      li
        #markClick Mark Click Handler
      li
        #markAjaxRequest Mark AJAX Request
      li
        #markAjaxResponse Mark AJAX Response
      li
        #drawWithRepeats Draw With Repeats
      li
        #resetGraph Reset Graph

  #invokeGraph