
<style>{{css}}</style>
<div id="deckView"></div>
<div id="graphView">
  <div id="graphControl">
    <ul>
      <li>
        <div id="drawWithLib">Show Libs</div>
      </li>
      <li>
        <div id="markTopLevelNonLib">Mark Non-Lib Top Level</div>
      </li>
      <li>
        <div id="drawTomAsync">Draw Tom Async</div>
      </li>
      <li>
        <div id="drawJoshAsync">Draw Josh Async</div>
      </li>
      <li>
        <div id="markAllBlue">Mark All Blue</div>
      </li>
      <li>
        <div id="markClick">Mark Click Handler</div>
      </li>
      <li>
        <div id="markAjaxRequest">Mark AJAX Request</div>
      </li>
      <li>
        <div id="markAjaxResponse">Mark AJAX Response</div>
      </li>
      <li>
        <div id="drawWithRepeats">Draw With Repeats</div>
      </li>
      <li>
        <div id="resetGraph">Reset Graph</div>
      </li>
    </ul>
  </div>
  <div id="invokeGraph"></div>
</div>