
<style>{{css}}</style>
<div id="deckView"></div>
<div id="graphView">
  <div id="graphControl">
    <ul>
      <li>
        <button id="drawWithLib">Show Libs</button>
      </li>
      <li>
        <button id="markTopLevelNonLib">Mark Non-Lib Top Level</button>
      </li>
      <li>
        <button id="drawTomAsync">Draw Tom Async</button>
      </li>
      <li>
        <button id="drawJoshAsync">Draw Josh Async</button>
      </li>
      <li>
        <button id="markAllBlue">Mark All Blue</button>
      </li>
      <li>
        <button id="markClick">Mark Click Handler</button>
      </li>
      <li>
        <button id="markAjaxRequest">Mark AJAX Request</button>
      </li>
      <li>
        <button id="markAjaxResponse">Mark AJAX Response</button>
      </li>
      <li>
        <button id="drawWithRepeats">Draw With Repeats</button>
      </li>
      <li>
        <button id="resetGraph">Reset Graph</button>
      </li>
    </ul>
  </div>
  <div id="invokeGraph"></div>
</div>