#deckView
  #deckHeader
    .logo
      img(src="/images/isopleth.png")
    ul
      li#filterMouse Mouse
      li#filterKeyboard Keyboard
      li#filterSetup Setup
      li#filterAJAX AJAX
      li#filterDom DOM
  #deck
#graphView
  #invokeGraph
  #graphControl
    ul
      li
        #drawWithLib Show Libs
      li
        #markTopLevelNonLib Mark Non-Lib Top Level
      li
        #drawTomAsync Draw Tom Async
      li
        #drawJoshAsync Draw Josh Async
      li
        #markAllBlue Mark All Blue
      li
        #markClick Mark Click Handler
      li
        #markAjaxRequest Mark AJAX Request
      li
        #markAjaxResponse Mark AJAX Response
      li
        #drawWithRepeats Draw With Repeats
      li
        #resetGraph Reset Graph
      li
        #downloadInvokes Download Invokes
      li
        #downloadNodes Download Nodes

