
<div id="deckView">
  <div id="deckHeader">
    <div class="logo"><img src="/images/isopleth.png"/></div>
    <ul>
      <li id="filterMouse" class="nav">Mouse</li>
      <li id="filterKeyboard" class="nav">Keyboard</li>
      <li id="filterSetup" class="nav">Setup</li>
      <li id="filterAJAX" class="nav">AJAX</li>
      <li id="filterDom" class="nav">DOM</li>
      <li id="filterNone" class="nav">*Hover Effect</li>
      <li id="filterAdd" class="nav">+</li>
    </ul>
  </div>
  <div id="deck"></div>
</div>
<div id="graphView">
  <div id="invokeGraph"></div>
  <!--#graphControl-->
  <!--  ul-->
  <!--    li-->
  <!--      #draw Draw-->
  <!--    li-->
  <!--      #hideLibs Hide Libs-->
  <!--    li-->
  <!--      #hideRepeats Hide Repeats-->
  <!--    li-->
  <!--      #hideUnknownAspectNodes Hide Unlabeled Nodes-->
  <!--    li-->
  <!--      #showLibCode Show Libs-->
  <!--    li-->
  <!--      #showRepeats Show Repeats-->
  <!--    li-->
  <!--      #showUnknown Show Unlabeled Nodes-->
  <!--    li-->
  <!--      #drawTomAsync Draw Tom Async-->
  <!--    li-->
  <!--      #drawJoshAsync Draw Josh Async-->
  <!--    li-->
  <!--      #markTopLevelNonLib Mark Non-Lib Top Level-->
  <!--    li-->
  <!--      #markAllBlue Mark All Blue-->
  <!--    li-->
  <!--      #markClick Mark Click Handler-->
  <!--    li-->
  <!--      #markAjaxRequest Mark AJAX Request-->
  <!--    li-->
  <!--      #markAjaxResponse Mark AJAX Response-->
  <!--    li-->
  <!--      #resetGraph Reset Graph-->
  <!--    li-->
  <!--      #drawHeatMap Heat Map-->
  <!--    li-->
  <!--      #downloadInvokes Download Invokes-->
  <!--    li-->
  <!--      #downloadNodes Download Nodes-->
</div>
<div id="newAspectModal" style="display:none;">
  <div class="content">
    <!-- Fill modal here-->
  </div>
</div>
<div id="modalTemplate" style="display:none;">
  <div id="modalContent">
    <div id="newAspectTitle" class="row">
      <div class="label">Aspect Name</div>
      <input type="text" value="CustomFilter"/>
    </div>
    <div id="newAspectType" class="row">
      <div class="label">Filter Type</div>
      <div class="filterTypes">
        <div data="returnVal" class="newFilterType active">Return Value</div>
        <div data="arg" class="newFilterType">Argument</div>
      </div>
    </div>
    <div id="aspectColor" class="row">
      <div class="label">Node Color<span style="background-color:#ffb533;" class="color-preview"></span></div>
      <input type="text" value="#ffb533"/>
    </div>
    <div id="newAspectFilter" class="row">
      <div class="label">Aspect Test Function</div>
      <div class="mirrorHandle"></div>
    </div>
    <div class="saveAspect row">
      <div id="saveNewAspect">Save</div>
      <div id="close">Cancel</div>
    </div>
  </div>
</div>