
<html>
  <body>
    <div style="display:none;" class="restart-mode">
      <div style="padding-top:.6em; padding-bottom:1em;" class="row">
        <div class="col-xs-12"><span>Isopleth needs inspection access to this window.</span>
          <button id="reload" type="button" aria-label="Left Align" style="margin-left:1em;" class="btn btn-default btn-xs"><i></i> Reload with Ibex</button>
        </div>
      </div>
    </div>
    <div style="display:none;" class="active-mode">
      <div style="padding-top:.6em; padding-bottom:1em;" class="row">
        <div class="col-xs-12">
          <p></p>Broadcasting...<br/><br/>
          <button id="throttleInvokes" class="btn btn-default btn-xs">Throttle Invokes</button><br/><br/>
          <button id="removeThrottle" class="btn btn-default btn-xs">Remove Throttle</button>
        </div>
      </div>
    </div>
  </body>
</html>