html(lang='en')
  head
    script(src='/javascripts/lib/zepto.js')
    //script(src='/javascripts/lib/jquery-2.1.4.js')
    //script(src='/javascripts/lib/underscore-min.js')
    //script(src='/javascripts/lib/moment.js')

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel='icon', href='/img/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')

  body(style="padding:1em")
    .row
      .col-xs-12
        button.btn.btn-success(id="test1") Toggle A
    br
    .row
      .col-xs-12
        img(id="effect1", src="/img/waves.png", height=50)
    //br
    //.row
      .col-xs-12
          button.btn.btn-primary(id="test2") Moment Call
    //.row
      .col-xs-4
        br
        #effect2(style="min-height: 1em; ")
    br
    .row
      .col-xs-12
        button.btn.btn-warning(id="test3") Toggle B
    br
    .row
      .col-xs-6
        button.btn.btn-danger(id="test4") Ajax JSON A

      //.col-xs-6
      //  h4 Ajax JSON Res
      //  p#jsonRes

    br
    .row
      .col-xs-12#appendShipHere

    script(id="postbody", src='/javascripts/home.js')