body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, body, button, html, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#isoplethView {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #F3F5F6;

  #deckView {
    width: 100%;
    height: 50%;
    float: left;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    #deck{
      float:left;
    }

    #deckHeader {
      float: left;
      height: 35px;
      background-color: #fff;
      border-bottom: 1px solid #d3d3d3;

      .logo {
        float: left;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 70%;

        }
      }

      ul {
        float: left;
        height: 100%;
        margin: 0;
        list-style: none;
        display: block;
        padding: 0;
        li {
          height: 100%;
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 1em;
          padding-right: 1em;
          border-right: 1px solid #d3d3d3;
          cursor: pointer;

          &:last-child {
            border-right: none;
          }

          &:hover {
            background-color: #eeeeee;
          }

          &:active {
            background-color: #e5e5e5;
          }

          &.active {
            background-color: #85ff97;
          }
        }
      }
    }

  }

  #graphView {
    width: 100%;
    height: 50%;
    float: left;
    background-color: #2f2f2f;

    #graphControl {
      width: 100%;
      float: left;
      height: 12%;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          float: left;

          div {
            color: white;
            background-color: #545454;
            border-radius: 2px;
            margin: 3px;
            padding: 3px;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }

    }
    #invokeGraph {
      width: 100%;
      height: 88%;
    }
  }

  .cardView {
    display: inline-block;

    height: 300px;
    margin: 2em;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);

    .sec {
      display: inline-block;
      height: 100%;
      vertical-align: top;
      margin-right: -5px;
    }

    .empty-javascript{
      p{
        margin-left:1em;
      }
    }

    .left-column {
      width: 0px;
      background-color: #e2e6f3;

      .invoke-inputs-view {
        .codeMirrorView {
          width: 100%;
          float: left;
          margin-bottom: 1em;
        }
      }
    }

    .left-button-column {
      width: 32px;
      background-color: #e2e6f3;

      .buttonPane {
        margin-left: 27px;

        span {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }

    .buttonPane {
      float: left;
      transform: rotate(90deg);
      transform-origin: 0 0 0;
      height: 30%;

      span {
        cursor: pointer;
        text-align: center;
        background-color: #387fbd;
        color: #fff;
        padding: 4px;

        &.active {
          background-color: #ffb533;

          &:hover {
            background-color: #ffc97e;
          }
        }

        &:hover {
          background-color: #3c90d2;
        }
      }
    }

    .center-column {
      width: 500px;
      h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
      }
    }

    .right-column {
      width: 0px;
      background-color: #e2e6f3;
    }

    .right-button-column {
      width: 32px;
      background-color: #e2e6f3;

      .buttonPane {
        margin-left: 24px;

        span {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
      }
    }

  }

  button {
    padding: 4px 4px;
    color: #28aadc;
    background-color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid #28aadc;
    margin: 4px;
    transition: color .3s, border .3s;
  }

  button:hover {
    color: #166888;
    border: 1px solid #166888;
  }

  #invokeGraph {
    height: 100%;
    width: 100%;
  }

  #callGraphView {
    height: 100%;
    width: 100%;
  }

}




